apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: agent-bus

bases:
  - ../../base

commonLabels:
  environment: production

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
    target:
      kind: Deployment
      name: api
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 5
    target:
      kind: Deployment
      name: worker

resources:
  - hpa.yaml
