apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: agent-bus-dev

bases:
  - ../../base

namePrefix: dev-

commonLabels:
  environment: development

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: api
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: worker
  - patch: |-
      - op: replace
        path: /data/ENVIRONMENT
        value: development
    target:
      kind: ConfigMap
      name: agent-bus-config
  - patch: |-
      - op: replace
        path: /data/DEBUG
        value: "true"
    target:
      kind: ConfigMap
      name: agent-bus-config
